@model YuHan.CabsBooking.ApplicationCore.Models.Request.PlaceAddRequestModel

@{
    ViewData["Title"] = "Add Place";
}

<h1>
    @ViewData["Title"]
</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="PlaceName"></label>
                <input asp-for="PlaceName" class="form-control" />
                <span asp-validation-for="PlaceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Place" asp-action="Index">Back to Place Page</a>
</div>